*{
    margin: 0;
}

body{
    background-image: url("background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: rgb(100, 100, 206);
    color: rgb(250, 250, 250); 
    text-align: center;  
    letter-spacing: 2px;
    padding: 2%;
    margin-bottom: 1%;
    box-shadow: 2px 2px 10px rgb(255, 254, 254);
}

header a{
    text-decoration: none;
    color: white;
    
}

main{
    background-color: white;
    margin: auto;
    width: 80%;
    padding: 2%;
    letter-spacing: 2px;
    opacity: 0.7;
}

main a{
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    text-align: center;
    border: 4px double rgb(100, 100, 206);
    padding: 2px;
    color: rgb(12, 12, 12);
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

main a:hover{
    transition: 0.05s ease-in-out;
    background-color: rgb(100, 100, 206);
    color: white;
}



footer{
    text-align: center;
    background-color: rgb(100, 120, 206);
    color: whitesmoke;
    font-size: 1.2em;
    margin-top: 100%;
}