*{
    margin: 0;
}
body{
    background-color: rgb(30, 110, 97);
}

header{
    background-color: rgb(241, 247, 240);
    color: rgb(5, 19, 31); 
    text-align: center;
    text-transform: uppercase;  
    letter-spacing: 2px;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 10px black;
}


main{
    margin: auto;
    width: 40%;
    
    background-color: aliceblue;
    padding: 2%;
    border: 14px double darkcyan;
    box-shadow: 1px 2px 10px black;
    letter-spacing: 2px;
}
main a{
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    text-align: center;
    border: 4px double green;
    padding: 2%;
    
    color: rgb(30, 90, 110)
}
main a:hover{
    transition: 0.05s ease-in-out;
    background-color: green;
    color: white;
}



footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 1.2em;
    margin-top: 100%;
}