*{
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(158, 235, 248);
    color: rgb(10, 10, 10); 
    text-align: center;  
    letter-spacing: 2px;
    padding: 2%;
    margin-bottom: 1%;
    box-shadow: 2px 2px 10px black;
}


main{
    margin: auto;
    width: 92%;
    padding: 2%;
    letter-spacing: 2px;
}

main a{
    text-decoration: none;
    font-size: 1.3em;
    display: inline-block;
    text-align: center;
    border: 4px double rgb(158, 235, 248);
    padding: 2px;
    color: rgb(30, 90, 110);
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
main a:hover{
    transition: 0.05s ease-in-out;
    background-color: green;
    color: white;
}



footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 1.2em;
    margin-top: 100%;
}