*{
    margin: 0;
}
body{
    background-color: rgb(30, 90, 110);
}

header{
    background-color: black;
    color: aliceblue; 
    text-align: right;
    text-transform: uppercase;  
    letter-spacing: 2px;
    padding: 2%;
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'arial';
    border-right: 2px solid wheat;
    
}

header a:hover{
    background-color: green;
    color: white;
    border-right: 2px solid white;
}

main{
    margin: auto;
    width: 50%;
    
    background-color: aliceblue;
    padding: 2%;
    border: 14px double darkcyan;
    box-shadow: 1px 2px 10px black;
    letter-spacing: 2px;
}
main h1{
    text-align: center;
    letter-spacing: 2px;
    background-color: black;
    color: white;
}


footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 1.2em;
    margin-top: 100%;
}